body {
    background-color: wheat;
    margin: 10px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.off {
    display: none !important;
}

#canvas {
    width: 100svw;
    height: 100svh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#header {
    background-color: white;
    border-radius: 10px;
    padding: 0.25em;
    text-align: center;
    width: 50svw;
}

.all-text {
    text-align: center;
}

/* subpage formatting ---------*/
#header-format {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.body-format {
    padding-right: 8svw;
    padding-left: 8svw;
    padding-bottom: 4svw;
}

.images {
    display: flex;
    justify-content: center;
    gap: 2svw;
    padding-top: 1svw;
    padding-bottom: 1svw;
}

/* ---------------------------- */

#buttons {
    background-color: rgb(164, 204, 243);
    width: 50svw;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

#guides {
    /* background-color: rgb(164, 204, 243); */
    display: flex;
    gap: 15px;
}

#guides>div {
    padding: 5px;
    border-radius: 5px;
}

.hidden {
    opacity: 0;
}

#reflex {
    background-color: rgb(134, 187, 243);
}

#point-in-triangle {
    background-color: rgb(250, 97, 70);
}

.draggable {
    cursor: move;
}

.vertex {
    r: 7px;
    stroke: rgb(103, 74, 15);
    fill: rgb(255, 255, 156);
    stroke-width: 2;
}

.current-vertex {
    fill: rgb(134, 187, 243);
    stroke: rgb(31, 63, 97);
}

.outside-vertex {
    fill: rgb(136, 250, 113);
    stroke: rgb(33, 112, 27);
}

.inside-vertex {
    fill: rgb(250, 97, 70);
    stroke: rgb(122, 32, 16);
}

.line {
    stroke: black;
    stroke-width: 2;
}